img {
    width: 75%;
    height: 75%;
}

#loading-img {
	background: url(http://preloaders.net/preloaders/360/Velocity.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.overlay {
    background: #ffffff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.calendar { position: relative; }
.calendar i { position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer; }

.initializationScreen {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background: #0c2577;
    color: #fff;
    font-weight: bold;
}

.fluid_container {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}